<div class="container">
    <div class="row">
        <h1 class="text-center">Active Task Plugin</h1>
        <p>This admin page shows the status of each current task for each user device.</p>
    </div>

    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation">
                <a href="#userTasks" aria-controls="emailIntro"
                   role="tab" data-toggle="tab">Email</a>
                </li>
            <li role="presentation">
                <a href="#settings" aria-controls="settings"
                   role="tab" data-toggle="tab">Settings</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="emailIntro">
                <p>
                    Peek Core Email Plugin.
                </p>
            </div>
            <div role="tabpanel" class="tab-pane" id="settings">
                <core-email-setting-list></core-email-setting-list>
            </div>
        </div>

    </div>

</div>